<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	
		{% comment %} <style>
.page th {
  
    background-color: #add8e6;
    color: green;
	padding: 40px;
}

h1{
	color: red;
}
</style> {% endcomment %}
</head>
<body>
	<h1>Resume Submission</h1>

	<form method="POST" action="/submit" enctype="multipart/form-data">
	
	<input type="file" name="userfile">
	<input type="submit">
	</form>



	<div class=page>
 		<h1>Suggested jobs</h1>
  		{% for table in tables %}
    	
    	{{ table|safe }}
  		{% endfor %}
	</div>
</body>

</html>